<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Borrow book - Worblehat Bookmanager</title>
	<style>
		table td,
		table td * {
			vertical-align: top;
		}
	</style>
</head>

<body>

	<table>
		<td>

			<div th:insert="navigation :: header"></div>

		</td>

		<td>

			<h1>Borrow Book</h1>

			<form th:object="${borrowFormData}" method="POST">

				<table>
					<tr>
						<td>ISBN:</td>
						<td><input id="isbn" type="text" th:field="*{isbn}" /></td>
						<td><span id="isbn.error" th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}"></span></td>
					</tr>
					<tr>
						<td>Email:</td>
						<td><input id="email" type="text" th:field="*{email}" /></td>
						<td><span id="email.error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
						</td>
					</tr>
				</table>

				<input type="submit" id="borrowBook" value="Borrow Book" />
			</form>

		</td>

	</table>

</body>

</html>